.button {
  border: 1px solid #4e555b;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.primary {
  background-color: #0062cc;
  color: white;
}
.secondary {
  background-color: #5a5a5a;
  color: white;
}
