.container {
  margin: 20px auto 0;
  padding: 20px;
  max-width: 900px;
}
.hero {
  display: flex;
  align-items: center;
}
.firstColumn {
  margin-bottom: 5px;
}
.secondColumn {
  display: none;
  position: relative;
}
.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: 1px solid #4e555b;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
.primaryButton {
  background-color: #0062cc;
  color: white;
  margin-right: 4px;
}
.secondaryButton {
  background-color: #5a5a5a;
  color: white;
}
.firstImage {
  display: none;
  position: absolute;
  margin-top: 5px;
  top: 0;
  right: 0;
  max-width: 100%;
}
.secondImage {
  position: relative;
  max-width: 100%;
}
.thirdImage {
  display: none;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
@media (min-width: 560px) {
  .secondColumn {
    display: block;
  }
  .firstImage {
    display: block;
  }
  .secondImage {
    max-width: 100%;
    height: auto;
  }
  .thirdImage {
    display: block;
  }
}
