.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.cardHeader {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cardFooter {
  text-align: center;
  padding: 0.3em;
}
