.hd-detail {
  .col-right {
    .edit-del {
      opacity: 0;

      span {
        opacity: 0.2;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .edit-del {
      opacity: 1;
    }
  }
}
