<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome <%= @ticket.name_of_submitter %> to Mentor Ticket System</h1>
<p>
  You have successfully created a ticket with id: <%= @ticket.id %>
  We will reply within 24 hours.
</p>
<p>Thanks for contacting and have a great day!</p>
</body>
</html>