<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome <%= @ticket.name %> to Mentor Ticket System</h1>
<p>
  your ticket id <%= @ticket.id %> is processed.
</p>
<p>Thanks for contacting and have a great day!</p>
</body>
</html>