<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome <%= @ticket.name %> to Mentor Ticket System</h1>
<p>
  Your ticket with id: <%= @ticket.id %> status is updated to <%= @ticket.status %>
  If you have any questions, please reply to this email.
  We will reply within 24 hours.
</p>
<p>Have a great day!</p>
</body>
</html>